<ul>
  <h2>Different types of hooks are :- </h2>

  <li>ngOnInit</li>
  <li>ngOnChanges</li>
  <li>ngDoCheck</li>
  <li>ngAfterContentInit</li>
  <li>ngAfterContentChecked</li>
  <li>ngAfterViewInit</li>
  <li>ngAfterViewChecked</li>
  <li>ngDestroy</li>

</ul>

<p>Amount {{amount | currency : 'INR'}} </p>
<p>channelNAme :- {{ channelNAme | uppercase}} </p>
<p>channelNAme :- {{ channelNAme | lowercase}} </p>
<p>Marks :- {{ marks | percent}} </p>
<p>Date is  :- {{ date | date}} </p>

<h2>Custom pipes</h2>
<p >NAme is :- <a class="initialName">{{name | initialName}}</a> </p>
<p >NAme2 is :- <a class="initialName">{{"Name Kumar" | initialName}}</a> </p>




<app-parent></app-parent>

